In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Iqaluit,CA,2020-06-20 20:19:50,63.75,-68.51,39.20,80,75,5.82
1,1,Tuktoyaktuk,CA,2020-06-20 20:19:51,69.45,-133.04,35.17,95,100,10.78
2,2,Jieshi,CN,2020-06-20 20:19:51,22.81,115.83,82.42,83,100,13.11
3,3,Unguia,CO,2020-06-20 20:19:51,8.04,-77.09,86.00,70,40,3.36
4,4,Tasiilaq,GL,2020-06-20 20:19:51,65.61,-37.64,44.60,70,100,31.09

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [9]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 3. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(
    locations
    , weights=[max(temp,0) for temp in city_data_df["Max Temp"]]
    , dissipating=False
    , max_intensity=300
    , point_radius=4
)
# 4. Add the heatmap layer.
fig.add_layer(heat_layer)

# 5. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(
    locations
    , weights=humidity
    , dissipating=False
    , max_intensity=300
    , point_radius=4
)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(
    locations
    , weights=clouds
    , dissipating=False
    , max_intensity=300
    , point_radius=4
)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(
    locations
    , weights=wind
    , dissipating=False
    , max_intensity=300
    , point_radius=4
)

fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 80

In [24]:
preferred_cities_df = city_data_df.loc[
    (city_data_df["Max Temp"] <= max_temp)
    & (city_data_df["Max Temp"] >= min_temp)
].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Arona,ES,2020-06-20 20:19:51,28.10,-16.68,73.99,64,20,20.80
10,10,Puerto Ayora,EC,2020-06-20 20:19:53,-0.74,-90.35,77.00,69,20,25.28
11,11,Jamestown,US,2020-06-20 20:16:31,42.10,-79.24,78.80,57,20,6.93
12,12,Isangel,VU,2020-06-20 20:19:53,-19.55,169.27,70.93,81,35,13.71
15,15,Rikitea,PF,2020-06-20 20:19:54,-23.12,-134.97,76.24,81,67,13.73
18,18,Saskylakh,RU,2020-06-20 20:19:55,71.92,114.08,72.45,46,100,4.85
24,24,Saint-Philippe,RE,2020-06-20 20:19:56,-21.36,55.77,68.00,77,72,9.17
26,26,Mangai,CD,2020-06-20 20:19:57,-4.05,19.53,72.55,48,0,0.40
30,30,Korla,CN,2020-06-20 20:19:58,41.76,86.15,74.32,23,4,15.12
31,31,Namibe,AO,2020-06-20 20:19:58,-15.20,12.15,71.71,55,0,7.56

In [25]:
preferred_cities_df.count()

City_ID       183
City          183
Country       183
Date          183
Lat           183
Lng           183
Max Temp      183
Humidity      183
Cloudiness    183
Wind Speed    183
dtype: int64

In [26]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
5            Arona      ES     73.99  28.10  -16.68
10    Puerto Ayora      EC     77.00  -0.74  -90.35
11       Jamestown      US     78.80  42.10  -79.24
12         Isangel      VU     70.93 -19.55  169.27
15         Rikitea      PF     76.24 -23.12 -134.97
18       Saskylakh      RU     72.45  71.92  114.08
24  Saint-Philippe      RE     68.00 -21.36   55.77
26          Mangai      CD     72.55  -4.05   19.53
30           Korla      CN     74.32  41.76   86.15
31          Namibe      AO     71.71 -15.20   12.15

In [27]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [34]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
        pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(50)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Arona,ES,73.99,28.10,-16.68,Paradise Court
10,Puerto Ayora,EC,77.00,-0.74,-90.35,Finch Bay Galapagos Hotel
11,Jamestown,US,78.80,42.10,-79.24,Hampton Inn & Suites Jamestown
12,Isangel,VU,70.93,-19.55,169.27,Volcano Sea View Tree House
15,Rikitea,PF,76.24,-23.12,-134.97,Pension Maro'i
18,Saskylakh,RU,72.45,71.92,114.08,
24,Saint-Philippe,RE,68.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""
26,Mangai,CD,72.55,-4.05,19.53,
30,Korla,CN,74.32,41.76,86.15,Gulisitan Hotel
31,Namibe,AO,71.71,-15.20,12.15,Hotel Chik Chik Namibe
33,Ust-Nera,RU,69.06,64.57,143.20,Hotel Ust-Nera
37,Castro,BR,66.69,-24.79,-50.01,CHACARA BAILLY
39,Pisco,PE,66.99,-13.70,-76.22,Hostal San Isidro Oficial
41,Luan,CH,68.00,46.36,6.98,Hotel Appartement Castel Club Leysin Parc
47,Samarai,PG,79.02,-10.62,150.67,Nuli Sapi
48,Paka,MY,75.20,4.64,103.44,Rumbia Resort Villa Paka Terengganu
50,Hasaki,JP,68.00,35.73,140.83,Inubosaki Kanko Hotel
51,Port-Gentil,GA,77.00,-0.72,8.78,Fengshui Residence
56,Taber,CA,77.00,49.82,-112.15,Taber Motel
61,Fairbanks,US,68.00,64.84,-147.72,Westmark Fairbanks Hotel & Conference Center
68,Uvira,CD,75.00,-3.41,29.15,Auberge Eden City
71,Atuona,PF,79.74,-9.80,-139.03,Villa Enata
74,Mareeba,AU,70.00,-17.00,145.43,Trinity Plains Tourist Park
77,Tuy Hoa,VN,78.48,13.08,109.30,CenDeluxe Hotel Tuy Hoa
83,Srednekolymsk,RU,79.66,67.45,153.68,
85,Ambilobe,MG,71.64,-13.20,49.05,Hôtel & Restaurant DIANA Ambilobe
86,Vila Franca Do Campo,PT,68.00,37.72,-25.43,Pestana Bahia Praia
91,Lodja,CD,75.87,-3.48,23.43,
96,Vaini,TO,77.00,-21.20,-175.20,Keleti Beach Resort
97,Poum,NC,69.93,-20.23,164.02,Gîte kajeon
98,Cherskiy,RU,78.98,68.75,161.30,Gostinitsa
100,College,US,68.00,64.86,-147.80,Pike's Waterfront Lodge
105,Omboue,GA,74.19,-1.57,9.26,Hotel Olako
106,Krasnovka,RU,66.61,48.82,40.09,
107,Avarua,CK,73.40,-21.21,-159.78,Paradise Inn
108,Guerrero Negro,MX,73.89,27.98,-114.06,"Casa Laguna, Bed & Breakfast"
110,Liverpool,GB,66.99,53.41,-2.98,Premier Inn Liverpool City Centre (Moorfields)...
111,Kapaa,US,78.80,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
112,Mahebourg,MU,71.60,-20.41,57.70,Shandrani Beachcomber Resort & Spa
114,Cidreira,BR,69.71,-30.18,-50.21,Novomar Pousada e Turismo Ltda
115,Arraial Do Cabo,BR,78.80,-22.97,-42.03,Pousada Porto Praia
117,Alexandria,EG,75.20,31.22,29.96,Mediterranean Azur Hotel
118,Uttarkashi,IN,70.48,30.73,78.45,Anand Ganga
119,Kaseda,JP,68.00,31.42,130.32,Sun Stay Kaseda
125,Batagay,RU,78.04,67.63,134.63,
127,Touros,BR,78.80,-5.20,-35.46,INN NEW HORIZON
129,Faanui,PF,79.77,-16.48,-151.75,Bora-Bora Pearl Beach Resort & Spa
134,Sume,BR,75.45,-7.67,-36.88,pousada sumé II
136,Nabire,ID,75.16,-3.37,135.48,Hotel Nusantara Nabire
139,Merauke,ID,76.93,-8.47,140.33,

In [36]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations
    , weights=max_temp
    , dissipating=False
    , max_intensity=300
    , point_radius=4
)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(
    locations
    , weights=max_temp
    ,dissipating=False
    , max_intensity=300
    , point_radius=4
)
marker_layer = gmaps.marker_layer(
    locations
    , info_box_content=hotel_info
)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))